@font-face {
    font-family: 'mantinia-regular';
    src: url('/fonts/mantinia-regular.otf') format('opentype');
  }

@font-face {
    font-family: 'crimson-roman';
    src: url('/fonts/crimson-roman.ttf') format('truetype');
  }